<a href="https://colab.research.google.com/github/GustavoRampanelli/Dados-de-Saude-Publica-com-Python-2017/blob/main/Dados_de_sa%C3%BAde_p%C3%BAblica_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando Biblioteca

In [1]:
import pandas as pd

pd.options.display.max_columns = None
data = pd.read_csv('/content/1.1 ANIMBR17.csv', encoding='latin1')

data

<ipython-input-1-e78170f05213>:4: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/1.1 ANIMBR17.csv', encoding='latin1')

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2,X29,20170101,201701,2017,29,291080,1381.0,20170101,201701,20120728,4004,M,6.0,2.0,10.0,29.0,291080.0,1381.0,1.0,20170101,NaN,20170101,29.0,291080.0,NaN,2.0,9.0,6.0,1.0,9.0,1.0,9.0,9.0,9.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,9.0,1.0,,20170202,20170209
1,2,X29,20170101,201701,2017,35,352620,1335.0,20170101,201701,19800930,4036,F,9.0,9.0,9.0,35.0,352620.0,1335.0,1.0,20170101,NaN,20170101,35.0,352620.0,NaN,1.0,1.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,,20170102,20170116
2,2,X29,20170101,201701,2017,13,130360,5584.0,20160515,201620,19900625,4025,F,5.0,5.0,0.0,13.0,130360.0,5584.0,1.0,20170101,612005.0,20160115,13.0,130360.0,ALDEIA BALAIO,2.0,5.0,9.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,1.0,2.0,1.0,1.0,2.0,2.0,2.0,NaN,9.0,1.0,NaN,1.0,NaN,NaN,3.0,1.0,8,0,0,0,0,0,0,0,0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170101,20170125
3,2,X29,20170101,201701,2017,41,412010,1357.0,20170101,201701,19540718,4062,F,5.0,1.0,6.0,41.0,411770.0,1357.0,1.0,20170101,999993.0,20170101,41.0,412010.0,RESIDENCIA,1.0,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170213,20170217
4,2,X29,20170101,201701,2017,26,261160,1497.0,20170101,201701,20130812,4003,F,6.0,9.0,10.0,26.0,260840.0,1497.0,1.0,20170101,NaN,20170101,26.0,260840.0,NaN,2.0,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170102,20170328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2,X29,20171231,201801,2017,22,221050,NaN,20171231,201801,20060109,4011,M,6.0,4.0,3.0,22.0,220060.0,NaN,1.0,20171231,999991.0,20171231,22.0,220060.0,POVOADO BELA VISTA,2.0,1.0,9.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222855,2,X29,20171231,201801,2017,22,221050,NaN,20171231,201801,19820814,4035,F,5.0,4.0,3.0,22.0,221050.0,NaN,1.0,20171231,999992.0,20171231,22.0,221050.0,RESIDENCIA,1.0,1.0,4.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222856,2,X29,20171231,201801,2017,31,311680,1450.0,20171231,201801,19620914,4055,M,6.0,4.0,1.0,31.0,310620.0,1450.0,1.0,20171231,782305.0,20171231,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,2.0,2.0,10.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,3,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,,20180129,20180129
222857,2,X29,20171231,201801,2017,41,410180,1356.0,20171230,201752,19721107,4045,F,5.0,1.0,9.0,41.0,410180.0,1356.0,1.0,20171231,NaN,20171230,41.0,410180.0,RESIDENCIA,1.0,5.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,2.0,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20180210,20180810
222858,2,X29,20171231,201801,2017,29,293330,1398.0,20171231,201801,19980521,4019,F,9.0,1.0,NaN,29.0,290120.0,1398.0,1.0,20171231,NaN,20171231,29.0,290120.0,NaN,2.0,NaN,10.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,2.0,1.0,0,0,0,8,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,,,20191018

In [2]:
data.columns

Index(['TP_NOT', 'ID_AGRAVO', 'DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC',
       'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF',
       'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'DT_INVEST', 'ID_OCUPA_N',
       'ANT_DT_ACI', 'ANT_UF', 'ANT_MUNIC_', 'ANT_LOCALI', 'ANT_ZONA',
       'ANT_TEMPO_', 'ANT_LOCA_1', 'MCLI_LOCAL', 'CLI_DOR', 'CLI_EDEMA',
       'CLI_EQUIMO', 'CLI_NECROS', 'CLI_LOCAL_', 'CLI_LOCA_1', 'MCLI_SIST',
       'CLI_NEURO', 'CLI_HEMORR', 'CLI_VAGAIS', 'CLI_MIOLIT', 'CLI_RENAL',
       'CLI_OUTR_2', 'CLI_OUTR_3', 'CLI_TEMPO_', 'TP_ACIDENT', 'ANI_TIPO_1',
       'ANI_SERPEN', 'ANI_ARANHA', 'ANI_LAGART', 'TRA_CLASSI', 'CON_SOROTE',
       'NU_AMPOLAS', 'NU_AMPOL_1', 'NU_AMPOL_8', 'NU_AMPOL_6', 'NU_AMPOL_4',
       'NU_AMPO_7', 'NU_AMPO_5', 'NU_AMPOL_9', 'NU_AMPOL_3', 'COM_LOC',
       'COM_SECUND', 'COM_NECROS', 'COM_COMPOR', 'COM_DEFICT', 'COM_APUTAC',
       'COM_SISTEM', 'COM_RENAL', 'COM_EDEMA', 'COM_SEPTIC', 'COM_CHOQUE',
       'DOENCA_TRA', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA'],
      dtype='object')

In [3]:
keep_columns = ['DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT',
       'ID_MUNICIP', 'ID_REGIONA', 'DT_SIN_PRI', 'SEM_PRI', 'DT_NASC',
       'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF',
       'ID_MN_RESI', 'ID_RG_RESI', 'ID_PAIS', 'DT_INVEST', 'ID_OCUPA_N',
       'ANT_DT_ACI', 'ANT_UF', 'ANT_MUNIC_', 'ANT_LOCALI', 'ANT_ZONA',
       'ANT_TEMPO_', 'ANT_LOCA_1', 'MCLI_LOCAL', 'CLI_DOR', 'CLI_EDEMA',
       'CLI_EQUIMO', 'CLI_NECROS', 'CLI_LOCAL_', 'CLI_LOCA_1', 'MCLI_SIST',
       'CLI_NEURO', 'CLI_HEMORR', 'CLI_VAGAIS', 'CLI_MIOLIT', 'CLI_RENAL',
       'CLI_OUTR_2', 'CLI_OUTR_3', 'CLI_TEMPO_', 'TP_ACIDENT', 'ANI_TIPO_1',
       'ANI_SERPEN', 'ANI_ARANHA', 'ANI_LAGART', 'TRA_CLASSI', 'CON_SOROTE',
       'NU_AMPOLAS', 'NU_AMPOL_1', 'NU_AMPOL_8', 'NU_AMPOL_6', 'NU_AMPOL_4',
       'NU_AMPO_7', 'NU_AMPO_5', 'NU_AMPOL_9', 'NU_AMPOL_3', 'COM_LOC',
       'COM_SECUND', 'COM_NECROS', 'COM_COMPOR', 'COM_DEFICT', 'COM_APUTAC',
       'COM_SISTEM', 'COM_RENAL', 'COM_EDEMA', 'COM_SEPTIC', 'COM_CHOQUE',
       'DOENCA_TRA', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA']

In [4]:
data = data[keep_columns].reset_index(drop=True)

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,20170101,201701,2017,29,291080,1381.0,20170101,201701,20120728,4004,M,6.0,2.0,10.0,29.0,291080.0,1381.0,1.0,20170101,NaN,20170101,29.0,291080.0,NaN,2.0,9.0,6.0,1.0,9.0,1.0,9.0,9.0,9.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,9.0,1.0,,20170202,20170209
1,20170101,201701,2017,35,352620,1335.0,20170101,201701,19800930,4036,F,9.0,9.0,9.0,35.0,352620.0,1335.0,1.0,20170101,NaN,20170101,35.0,352620.0,NaN,1.0,1.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,,20170102,20170116
2,20170101,201701,2017,13,130360,5584.0,20160515,201620,19900625,4025,F,5.0,5.0,0.0,13.0,130360.0,5584.0,1.0,20170101,612005.0,20160115,13.0,130360.0,ALDEIA BALAIO,2.0,5.0,9.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,1.0,2.0,1.0,1.0,2.0,2.0,2.0,NaN,9.0,1.0,NaN,1.0,NaN,NaN,3.0,1.0,8,0,0,0,0,0,0,0,0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170101,20170125
3,20170101,201701,2017,41,412010,1357.0,20170101,201701,19540718,4062,F,5.0,1.0,6.0,41.0,411770.0,1357.0,1.0,20170101,999993.0,20170101,41.0,412010.0,RESIDENCIA,1.0,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170213,20170217
4,20170101,201701,2017,26,261160,1497.0,20170101,201701,20130812,4003,F,6.0,9.0,10.0,26.0,260840.0,1497.0,1.0,20170101,NaN,20170101,26.0,260840.0,NaN,2.0,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170102,20170328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,20171231,201801,2017,22,221050,NaN,20171231,201801,20060109,4011,M,6.0,4.0,3.0,22.0,220060.0,NaN,1.0,20171231,999991.0,20171231,22.0,220060.0,POVOADO BELA VISTA,2.0,1.0,9.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222855,20171231,201801,2017,22,221050,NaN,20171231,201801,19820814,4035,F,5.0,4.0,3.0,22.0,221050.0,NaN,1.0,20171231,999992.0,20171231,22.0,221050.0,RESIDENCIA,1.0,1.0,4.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222856,20171231,201801,2017,31,311680,1450.0,20171231,201801,19620914,4055,M,6.0,4.0,1.0,31.0,310620.0,1450.0,1.0,20171231,782305.0,20171231,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,2.0,2.0,10.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,3,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,,20180129,20180129
222857,20171231,201801,2017,41,410180,1356.0,20171230,201752,19721107,4045,F,5.0,1.0,9.0,41.0,410180.0,1356.0,1.0,20171231,NaN,20171230,41.0,410180.0,RESIDENCIA,1.0,5.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,2.0,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20180210,20180810
222858,20171231,201801,2017,29,293330,1398.0,20171231,201801,19980521,4019,F,9.0,1.0,NaN,29.0,290120.0,1398.0,1.0,20171231,NaN,20171231,29.0,290120.0,NaN,2.0,NaN,10.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,2.0,1.0,0,0,0,8,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,,,20191018

In [5]:
data['MCLI_LOCAL'] = data['MCLI_LOCAL'].replace({1:'Sim', 2:'No', 9:'Ignorado'})

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,20170101,201701,2017,29,291080,1381.0,20170101,201701,20120728,4004,M,6.0,2.0,10.0,29.0,291080.0,1381.0,1.0,20170101,NaN,20170101,29.0,291080.0,NaN,2.0,9.0,6.0,Sim,9.0,1.0,9.0,9.0,9.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,9.0,1.0,,20170202,20170209
1,20170101,201701,2017,35,352620,1335.0,20170101,201701,19800930,4036,F,9.0,9.0,9.0,35.0,352620.0,1335.0,1.0,20170101,NaN,20170101,35.0,352620.0,NaN,1.0,1.0,9.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,9.0,9.0,0,0,0,0,0,0,0,0,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,,20170102,20170116
2,20170101,201701,2017,13,130360,5584.0,20160515,201620,19900625,4025,F,5.0,5.0,0.0,13.0,130360.0,5584.0,1.0,20170101,612005.0,20160115,13.0,130360.0,ALDEIA BALAIO,2.0,5.0,9.0,Sim,1.0,1.0,1.0,1.0,2.0,NaN,1.0,2.0,1.0,1.0,2.0,2.0,2.0,NaN,9.0,1.0,NaN,1.0,NaN,NaN,3.0,1.0,8,0,0,0,0,0,0,0,0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170101,20170125
3,20170101,201701,2017,41,412010,1357.0,20170101,201701,19540718,4062,F,5.0,1.0,6.0,41.0,411770.0,1357.0,1.0,20170101,999993.0,20170101,41.0,412010.0,RESIDENCIA,1.0,1.0,9.0,Sim,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170213,20170217
4,20170101,201701,2017,26,261160,1497.0,20170101,201701,20130812,4003,F,6.0,9.0,10.0,26.0,260840.0,1497.0,1.0,20170101,NaN,20170101,26.0,260840.0,NaN,2.0,1.0,9.0,Sim,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20170102,20170328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,20171231,201801,2017,22,221050,NaN,20171231,201801,20060109,4011,M,6.0,4.0,3.0,22.0,220060.0,NaN,1.0,20171231,999991.0,20171231,22.0,220060.0,POVOADO BELA VISTA,2.0,1.0,9.0,Sim,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222855,20171231,201801,2017,22,221050,NaN,20171231,201801,19820814,4035,F,5.0,4.0,3.0,22.0,221050.0,NaN,1.0,20171231,999992.0,20171231,22.0,221050.0,RESIDENCIA,1.0,1.0,4.0,Sim,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20171231,20180117
222856,20171231,201801,2017,31,311680,1450.0,20171231,201801,19620914,4055,M,6.0,4.0,1.0,31.0,310620.0,1450.0,1.0,20171231,782305.0,20171231,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,2.0,2.0,10.0,Sim,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,3,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,,20180129,20180129
222857,20171231,201801,2017,41,410180,1356.0,20171230,201752,19721107,4045,F,5.0,1.0,9.0,41.0,410180.0,1356.0,1.0,20171231,NaN,20171230,41.0,410180.0,RESIDENCIA,1.0,5.0,1.0,Sim,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,2.0,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20180210,20180810
222858,20171231,201801,2017,29,293330,1398.0,20171231,201801,19980521,4019,F,9.0,1.0,NaN,29.0,290120.0,1398.0,1.0,20171231,NaN,20171231,29.0,290120.0,NaN,2.0,NaN,10.0,Sim,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,2.0,1.0,0,0,0,8,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,,,20191018

In [6]:
columns_yes_no = ['MCLI_LOCAL','CLI_DOR','CLI_EDEMA',
                  'CLI_EQUIMO','CLI_NECROS','CLI_LOCAL_',
                  'MCLI_SIST','CLI_NEURO','CLI_HEMORR',
                  'CLI_VAGAIS','CLI_MIOLIT','CLI_RENAL',
                  'CLI_OUTR_2','CON_SOROTE','COM_LOC',
                  'COM_SECUND','COM_NECROS','COM_COMPOR',
                  'COM_RENAL','COM_EDEMA','COM_SEPTIC',
                  'COM_CHOQUE','DOENCA_TRA']

for columns in columns_yes_no:
  data[columns] = data[columns].replace({1:'Sim', 2:'No', 9:'Ignorado'})

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,20170101,201701,2017,29,291080,1381.0,20170101,201701,20120728,4004,M,6.0,2.0,10.0,29.0,291080.0,1381.0,1.0,20170101,NaN,20170101,29.0,291080.0,NaN,2.0,9.0,6.0,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,9.0,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,1.0,,20170202,20170209
1,20170101,201701,2017,35,352620,1335.0,20170101,201701,19800930,4036,F,9.0,9.0,9.0,35.0,352620.0,1335.0,1.0,20170101,NaN,20170101,35.0,352620.0,NaN,1.0,1.0,9.0,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,9.0,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,,20170102,20170116
2,20170101,201701,2017,13,130360,5584.0,20160515,201620,19900625,4025,F,5.0,5.0,0.0,13.0,130360.0,5584.0,1.0,20170101,612005.0,20160115,13.0,130360.0,ALDEIA BALAIO,2.0,5.0,9.0,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,9.0,1.0,NaN,1.0,NaN,NaN,3.0,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,1.0,,20170101,20170125
3,20170101,201701,2017,41,412010,1357.0,20170101,201701,19540718,4062,F,5.0,1.0,6.0,41.0,411770.0,1357.0,1.0,20170101,999993.0,20170101,41.0,412010.0,RESIDENCIA,1.0,1.0,9.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,,20170213,20170217
4,20170101,201701,2017,26,261160,1497.0,20170101,201701,20130812,4003,F,6.0,9.0,10.0,26.0,260840.0,1497.0,1.0,20170101,NaN,20170101,26.0,260840.0,NaN,2.0,1.0,9.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,,20170102,20170328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,20171231,201801,2017,22,221050,NaN,20171231,201801,20060109,4011,M,6.0,4.0,3.0,22.0,220060.0,NaN,1.0,20171231,999991.0,20171231,22.0,220060.0,POVOADO BELA VISTA,2.0,1.0,9.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,,20171231,20180117
222855,20171231,201801,2017,22,221050,NaN,20171231,201801,19820814,4035,F,5.0,4.0,3.0,22.0,221050.0,NaN,1.0,20171231,999992.0,20171231,22.0,221050.0,RESIDENCIA,1.0,1.0,4.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,,20171231,20180117
222856,20171231,201801,2017,31,311680,1450.0,20171231,201801,19620914,4055,M,6.0,4.0,1.0,31.0,310620.0,1450.0,1.0,20171231,782305.0,20171231,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,2.0,2.0,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,1.0,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,,20180129,20180129
222857,20171231,201801,2017,41,410180,1356.0,20171230,201752,19721107,4045,F,5.0,1.0,9.0,41.0,410180.0,1356.0,1.0,20171231,NaN,20171230,41.0,410180.0,RESIDENCIA,1.0,5.0,1.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,2.0,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,,20180210,20180810
222858,20171231,201801,2017,29,293330,1398.0,20171231,201801,19980521,4019,F,9.0,1.0,NaN,29.0,290120.0,1398.0,1.0,20171231,NaN,20171231,29.0,290120.0,NaN,2.0,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,2.0,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,,,20191018

In [7]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222859 entries, 0 to 222858
Data columns (total 75 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   DT_NOTIFIC  222859 non-null  int64
 1   SEM_NOT     222859 non-null  int64
 2   NU_ANO      222859 non-null  int64
 3   SG_UF_NOT   222859 non-null  int64
 4   ID_MUNICIP  222859 non-null  int64
 5   ID_REGIONA  212930 non-null  float64
 6   DT_SIN_PRI  222859 non-null  int64
 7   SEM_PRI     222859 non-null  int64
 8   DT_NASC     222859 non-null  object
 9   NU_IDADE_N  222859 non-null  int64
 10  CS_SEXO     222859 non-null  object
 11  CS_GESTANT  222852 non-null  float64
 12  CS_RACA     219289 non-null  float64
 13  CS_ESCOL_N  199962 non-null  float64
 14  SG_UF       222785 non-null  float64
 15  ID_MN_RESI  222785 non-null  float64
 16  ID_RG_RESI  212930 non-null  float64
 17  ID_PAIS     222858 non-null  float64
 18  DT_INVEST   222859 non-null  int64
 19  ID_OCUPA_N  113056 non-null  object
 20  ANT_DT_ACI  222859 non-null  object
 21  ANT_UF      222850 non-null  float64
 22  ANT_MUNIC_  222850 non-null  float64
 23  ANT_LOCALI  163845 non-null  object
 24  ANT_ZONA    218949 non-null  float64
 25  ANT_TEMPO_  216990 non-null  float64
 26  ANT_LOCA_1  222850 non-null  float64
 27  MCLI_LOCAL  221008 non-null  object
 28  CLI_DOR     207067 non-null  object
 29  CLI_EDEMA   207059 non-null  object
 30  CLI_EQUIMO  207039 non-null  object
 31  CLI_NECROS  207038 non-null  object
 32  CLI_LOCAL_  207025 non-null  object
 33  CLI_LOCA_1  26502 non-null   object
 34  MCLI_SIST   218130 non-null  object
 35  CLI_NEURO   15489 non-null   object
 36  CLI_HEMORR  15489 non-null   object
 37  CLI_VAGAIS  15489 non-null   object
 38  CLI_MIOLIT  15488 non-null   object
 39  CLI_RENAL   15488 non-null   object
 40  CLI_OUTR_2  15487 non-null   object
 41  CLI_OUTR_3  6844 non-null    object
 42  CLI_TEMPO_  195136 non-null  float64
 43  TP_ACIDENT  222850 non-null  float64
 44  ANI_TIPO_1  9278 non-null    object
 45  ANI_SERPEN  28738 non-null   float64
 46  ANI_ARANHA  33113 non-null   float64
 47  ANI_LAGART  5164 non-null    float64
 48  TRA_CLASSI  218114 non-null  float64
 49  CON_SOROTE  222850 non-null  object
 50  NU_AMPOLAS  222859 non-null  int64
 51  NU_AMPOL_1  222859 non-null  int64
 52  NU_AMPOL_8  222859 non-null  int64
 53  NU_AMPOL_6  222859 non-null  int64
 54  NU_AMPOL_4  222859 non-null  int64
 55  NU_AMPO_7   222859 non-null  int64
 56  NU_AMPO_5   222859 non-null  int64
 57  NU_AMPOL_9  222859 non-null  int64
 58  NU_AMPOL_3  222859 non-null  int64
 59  COM_LOC     209678 non-null  object
 60  COM_SECUND  2669 non-null    object
 61  COM_NECROS  2666 non-null    object
 62  COM_COMPOR  2666 non-null    object
 63  COM_DEFICT  2665 non-null    float64
 64  COM_APUTAC  2665 non-null    float64
 65  COM_SISTEM  207923 non-null  float64
 66  COM_RENAL   853 non-null     object
 67  COM_EDEMA   852 non-null     object
 68  COM_SEPTIC  852 non-null     object
 69  COM_CHOQUE  852 non-null     object
 70  DOENCA_TRA  212456 non-null  object
 71  EVOLUCAO    211305 non-null  float64
 72  DT_OBITO    222859 non-null  object
 73  DT_ENCERRA  222859 non-null  object
 74  DT_DIGITA   222859 non-null  int64
dtypes: float64(23), int64(19), object(33)
memory usage: 127.5+ MB

In [8]:
columns_date = ['DT_NOTIFIC', 'DT_SIN_PRI', 'DT_NASC',
                'DT_INVEST', 'DT_OBITO', 'DT_ENCERRA',
                'DT_DIGITA', 'ANT_DT_ACI']

for columns in columns_date:
  data[columns] = pd.to_datetime(data[columns], format='%Y%m%d', errors='coerce')

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4004,M,6.0,2.0,10.0,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,2.0,9.0,6.0,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,9.0,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,1.0,NaT,2017-02-02,2017-02-09
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,4036,F,9.0,9.0,9.0,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,1.0,1.0,9.0,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,9.0,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaT,2017-01-02,2017-01-16
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,4025,F,5.0,5.0,0.0,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,2.0,5.0,9.0,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,9.0,1.0,NaN,1.0,NaN,NaN,3.0,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2017-01-01,2017-01-25
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,4062,F,5.0,1.0,6.0,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,1.0,1.0,9.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2017-02-13,2017-02-17
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,4003,F,6.0,9.0,10.0,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,2.0,1.0,9.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2017-01-02,2017-03-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,4011,M,6.0,4.0,3.0,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,2.0,1.0,9.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2017-12-31,2018-01-17
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,4035,F,5.0,4.0,3.0,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,1.0,1.0,4.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2017-12-31,2018-01-17
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,4055,M,6.0,4.0,1.0,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,2.0,2.0,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,1.0,NaN,NaN,1.0,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,4045,F,5.0,1.0,9.0,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,1.0,5.0,1.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,2.0,NaN,1.0,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,1.0,NaT,2018-02-10,2018-08-10
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,4019,F,9.0,1.0,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,2.0,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,NaN,NaN,2.0,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18

In [9]:
data['ANT_ZONA'] = data['ANT_ZONA'].replace({1:'Urbana',
                                             2:'Rural',
                                             3:'Periurbana',
                                             9:'Ignorado'})

data['ANT_TEMPO_'] = data['ANT_TEMPO_'].replace({  1: '0 - 1h',
                                                    2: '1 - 3h',
                                                    3: '3 - 6h',
                                                    4: '6 - 12h',
                                                    5:'12 - 24h',
                                                    6:'mais de 24h',
                                                    9: 'Ignorado'})

data['ANT_LOCA_1'] = data['ANT_LOCA_1'].replace({ 1 : 'Cabea',
                                                    2 : 'Brao',
                                                    3 : 'Ante-Brao',
                                                    4 : 'Mo',
                                                    5 : 'Dedo da Mo',
                                                    6 : 'Tronco',
                                                    7 : 'Coxa',
                                                    8 : 'Perna',
                                                    9 : 'P',
                                                    0 : 'Dedo do P',
                                                    99 : 'Ignorado' })

data['CLI_TEMPO_'] = data['CLI_TEMPO_'].replace({ 1 : 'Normal',
                                                    2 : 'Alterado',
                                                    9 : 'No realizado'})

data['TP_ACIDENT'] = data['TP_ACIDENT'].replace({ 1 : 'Serpente',
                                                    2 : 'Aranha',
                                                    3 : 'Escorpio',
                                                    4 : 'Lagarta',
                                                    5 : 'Abelha',
                                                    6 : 'Outros',
                                                    9 : 'Ignorado' })

data['ANI_SERPEN'] = data['ANI_SERPEN'].replace({ 1 : 'Botrpico',
                                                    2 : 'Crotlico',
                                                    3 : 'Elapdico',
                                                    4 : 'Laqutico',
                                                    5 : 'Serpente no peonhenta',
                                                    9 : 'Ignorado' })

data['ANI_ARANHA'] = data['ANI_ARANHA'].replace({ 1 : 'Foneutrismo',
                                                    2 : 'Loxoscelismo',
                                                    3 : 'Latrodectismo',
                                                    4 : 'Outra aranha',
                                                    9 : 'Ignorado'})

data['ANI_LAGART'] = data['ANI_LAGART'].replace({ 1 : 'Lonomia',
                                                    2 : 'Outra lagarta',
                                                    9 : 'Ignorado'})

data['TRA_CLASSI'] = data['TRA_CLASSI'].replace({ 1 : 'Leve',
                                                    2 : 'Moderado',
                                                    3 : 'Grave',
                                                    9 : 'Ignorado' })

data['EVOLUCAO'] = data['EVOLUCAO'].replace({ 1 : 'Cura',
                                                2 : 'bito por acidente por animais peonhentos',
                                                3 : 'bito por outras causas',
                                                9 : 'Ignorado'  })


data['CS_GESTANT'] = data['CS_GESTANT'].replace({ 1: '1 Trimestre',
                                                    2: '2 Trimestre',
                                                    3: '3 Trimestre',
                                                    4: 'Idade gestacional ignorada',
                                                    5: 'No',
                                                    6: 'No se aplica',
                                                    9: 'Ignorado'  })

data['CS_RACA'] = data['CS_RACA'].replace({ 1: 'Branca',
                                              2: 'Preta',
                                              3: 'Amarela',
                                              4: 'Parda',
                                              5: 'Indgena',
                                              9: 'Ignorado' })

data['CS_ESCOL_N'] = data['CS_ESCOL_N'].replace({ 0: 'Analfabeto',
                                                    1: '1 a 4 srie incompleta do EF',
                                                    2: '4 srie completa do EF ( antigo 1 grau)',
                                                    3: '5  8 srie incompleta do EF (antigo ginsio ou 1 grau)',
                                                    4: 'Ensino fundamental completo (antigo ginsio ou 1 grau)',
                                                    5: 'Ensino mdio incompleto (antigo colegial ou 2 grau)',
                                                    6: 'Ensino mdio completo (antigo colegial ou 2 grau)',
                                                    7: 'Educao superior incompleta',
                                                    8: 'Educao superior completa',
                                                    9: 'Ignorado',
                                                    10: 'No se aplica' })

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4004,M,No se aplica,Preta,No se aplica,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,Rural,Ignorado,Tronco,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,Cura,NaT,2017-02-02,2017-02-09
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,4036,F,Ignorado,Ignorado,Ignorado,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,Urbana,0 - 1h,P,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Ignorado,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaT,2017-01-02,2017-01-16
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,4025,F,No,Indgena,Analfabeto,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,Rural,12 - 24h,P,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,No realizado,Serpente,NaN,Botrpico,NaN,NaN,Grave,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-01,2017-01-25
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,4062,F,No,Branca,Ensino mdio completo (antigo colegial ou 2 g...,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,Urbana,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-02-13,2017-02-17
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,4003,F,No se aplica,Ignorado,No se aplica,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,Rural,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-02,2017-03-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,4011,M,No se aplica,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,Rural,0 - 1h,P,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,4035,F,No,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,Urbana,0 - 1h,Mo,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,4055,M,No se aplica,Parda,1 a 4 srie incompleta do EF,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,Rural,1 - 3h,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alterado,Serpente,NaN,Botrpico,NaN,NaN,Leve,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,4045,F,No,Branca,Ignorado,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,Urbana,12 - 24h,Cabea,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Loxoscelismo,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2018-02-10,2018-08-10
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,4019,F,Ignorado,Branca,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,Rural,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serpente,NaN,Laqutico,NaN,NaN,Moderado,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18

In [10]:
ages = []

for i in data['NU_IDADE_N']:
  if i > 4000:
    ages.append(i - 4000)

  elif 4000 > i:
    ages.append(0)

  else:
    ages.append(0)

data['NU_IDADE_N'] = ages

ages

[4,
 36,
 25,
 62,
 3,
 21,
 24,
 10,
 36,
 27,
 27,
 63,
 2,
 36,
 27,
 15,
 39,
 39,
 48,
 26,
 39,
 28,
 58,
 20,
 6,
 14,
 11,
 23,
 11,
 47,
 2,
 37,
 12,
 5,
 22,
 71,
 39,
 34,
 28,
 45,
 17,
 17,
 1,
 21,
 54,
 10,
 1,
 44,
 23,
 45,
 73,
 50,
 14,
 33,
 37,
 32,
 2,
 64,
 34,
 30,
 34,
 36,
 10,
 30,
 31,
 18,
 14,
 22,
 83,
 19,
 47,
 34,
 36,
 29,
 31,
 25,
 51,
 29,
 10,
 82,
 63,
 67,
 6,
 12,
 23,
 23,
 24,
 52,
 17,
 20,
 22,
 7,
 31,
 19,
 30,
 53,
 10,
 30,
 5,
 17,
 26,
 2,
 18,
 40,
 39,
 52,
 58,
 21,
 9,
 20,
 21,
 61,
 55,
 8,
 19,
 53,
 17,
 39,
 54,
 19,
 42,
 7,
 8,
 38,
 49,
 3,
 26,
 44,
 33,
 58,
 64,
 48,
 8,
 48,
 14,
 36,
 16,
 19,
 20,
 13,
 36,
 27,
 51,
 36,
 56,
 21,
 38,
 22,
 33,
 4,
 49,
 9,
 70,
 33,
 16,
 26,
 14,
 31,
 4,
 56,
 38,
 45,
 15,
 49,
 56,
 34,
 1,
 21,
 20,
 64,
 72,
 61,
 49,
 80,
 43,
 19,
 16,
 76,
 25,
 25,
 21,
 30,
 28,
 18,
 12,
 45,
 10,
 16,
 67,
 9,
 57,
 1,
 16,
 41,
 11,
 5,
 67,
 73,
 1,
 32,
 17,
 23,
 2,
 72,
 29,
 74,
 63,
 10,
 78,
 22,
 5,
 56,
 67,
 60,
 14,
 38,
 17,
 1,
 58,
 22,
 15,
 17,
 35,
 19,
 1,
 35,
 68,
 21,
 67,
 7,
 18,
 7,
 39,
 38,
 4,
 40,
 21,
 79,
 35,
 25,
 0,
 35,
 28,
 10,
 6,
 64,
 1,
 26,
 4,
 28,
 68,
 49,
 62,
 9,
 14,
 17,
 72,
 42,
 19,
 35,
 0,
 36,
 33,
 3,
 31,
 16,
 26,
 43,
 65,
 12,
 48,
 31,
 2,
 32,
 47,
 54,
 29,
 71,
 30,
 30,
 45,
 61,
 6,
 34,
 27,
 69,
 5,
 10,
 30,
 36,
 50,
 56,
 55,
 51,
 47,
 46,
 22,
 36,
 18,
 12,
 48,
 32,
 24,
 43,
 24,
 11,
 17,
 28,
 28,
 58,
 20,
 20,
 0,
 67,
 58,
 9,
 29,
 51,
 2,
 25,
 74,
 17,
 54,
 81,
 55,
 32,
 53,
 17,
 48,
 29,
 37,
 18,
 10,
 26,
 6,
 64,
 25,
 39,
 27,
 23,
 19,
 61,
 29,
 6,
 4,
 23,
 11,
 25,
 1,
 44,
 17,
 40,
 12,
 65,
 44,
 14,
 44,
 2,
 12,
 71,
 9,
 47,
 19,
 50,
 0,
 77,
 36,
 15,
 63,
 63,
 41,
 43,
 46,
 48,
 23,
 38,
 58,
 39,
 46,
 18,
 41,
 23,
 78,
 23,
 15,
 39,
 17,
 32,
 36,
 48,
 51,
 15,
 72,
 21,
 50,
 52,
 21,
 30,
 34,
 33,
 29,
 40,
 36,
 27,
 45,
 49,
 58,
 17,
 28,
 73,
 47,
 27,
 33,
 41,
 13,
 18,
 27,
 8,
 26,
 46,
 10,
 39,
 48,
 56,
 49,
 17,
 1,
 6,
 32,
 77,
 34,
 67,
 4,
 50,
 8,
 22,
 52,
 9,
 3,
 54,
 28,
 5,
 67,
 21,
 42,
 33,
 39,
 2,
 29,
 46,
 49,
 7,
 52,
 20,
 67,
 62,
 35,
 38,
 42,
 20,
 52,
 47,
 54,
 21,
 23,
 20,
 31,
 47,
 61,
 32,
 21,
 62,
 23,
 22,
 56,
 18,
 31,
 36,
 58,
 65,
 40,
 44,
 6,
 61,
 42,
 0,
 58,
 28,
 29,
 13,
 35,
 23,
 5,
 56,
 17,
 18,
 65,
 3,
 16,
 50,
 47,
 50,
 19,
 5,
 27,
 26,
 27,
 66,
 54,
 71,
 25,
 43,
 58,
 9,
 3,
 8,
 70,
 14,
 43,
 50,
 41,
 91,
 33,
 43,
 70,
 11,
 62,
 7,
 41,
 61,
 10,
 54,
 43,
 14,
 13,
 35,
 43,
 7,
 3,
 10,
 10,
 31,
 15,
 82,
 26,
 34,
 53,
 7,
 32,
 80,
 25,
 15,
 23,
 10,
 54,
 66,
 9,
 54,
 6,
 86,
 21,
 12,
 25,
 9,
 24,
 59,
 23,
 44,
 46,
 11,
 24,
 12,
 24,
 23,
 46,
 21,
 52,
 45,
 22,
 18,
 1,
 24,
 33,
 13,
 40,
 59,
 29,
 52,
 32,
 48,
 35,
 6,
 27,
 32,
 40,
 48,
 70,
 19,
 14,
 5,
 28,
 38,
 55,
 53,
 28,
 35,
 58,
 40,
 30,
 27,
 13,
 51,
 23,
 56,
 86,
 31,
 10,
 1,
 15,
 34,
 31,
 32,
 52,
 33,
 52,
 53,
 38,
 45,
 54,
 32,
 39,
 30,
 15,
 30,
 23,
 23,
 53,
 17,
 19,
 20,
 39,
 14,
 3,
 12,
 13,
 24,
 17,
 50,
 62,
 26,
 32,
 43,
 52,
 12,
 43,
 36,
 50,
 50,
 11,
 62,
 26,
 3,
 19,
 24,
 64,
 26,
 10,
 40,
 30,
 0,
 19,
 28,
 66,
 29,
 40,
 60,
 47,
 35,
 29,
 36,
 61,
 59,
 45,
 54,
 18,
 4,
 32,
 38,
 18,
 9,
 2,
 43,
 29,
 37,
 64,
 26,
 1,
 13,
 47,
 35,
 1,
 52,
 0,
 37,
 45,
 21,
 68,
 50,
 47,
 31,
 30,
 62,
 14,
 46,
 30,
 42,
 14,
 19,
 16,
 25,
 31,
 39,
 56,
 76,
 28,
 15,
 53,
 45,
 20,
 29,
 1,
 56,
 14,
 12,
 34,
 58,
 10,
 28,
 55,
 7,
 13,
 21,
 56,
 9,
 30,
 38,
 19,
 49,
 47,
 21,
 10,
 17,
 31,
 1,
 19,
 37,
 43,
 43,
 17,
 35,
 26,
 56,
 8,
 25,
 60,
 19,
 62,
 82,
 4,
 4,
 57,
 12,
 25,
 43,
 4,
 49,
 2,
 14,
 59,
 6,
 69,
 55,
 43,
 38,
 51,
 81,
 44,
 35,
 9,
 14,
 33,
 51,
 74,
 31,
 62,
 5,
 31,
 43,
 14,
 47,
 13,
 26,
 24,
 78,
 22,
 5,
 68,
 46,
 17,
 31,
 16,
 4,
 46,
 18,
 30,
 18,
 46,
 47,
 45,
 58,
 47,
 9,
 40,
 51,
 19,
 20,
 4,
 50,
 62,
 25,
 80,
 57,
 60,
 28,
 35,
 26,
 59,
 21,
 79,
 44,
 16,
 21,
 36,
 38,
 39,
 32,
 23,
 30,
 44,
 11,
 15,
 79,
 51,
 40,
 21,
 8,
 3,
 1,
 38,
 24,
 32,
 59,
 54,
 46,
 60,
 65,
 54,
 46,
 12,
 30,
 35,
 46,
 77,
 50,
 35,
 36,
 42,
 49,
 57,
 44,
 7,
 2,
 52,
 37,
 33,
 35,
 34,
 21,
 1,
 76,
 25,
 33,
 27,
 8,
 69,
 7,
 51,
 9,
 33,
 25,
 0,
 68,
 55,
 32,
 65,
 21,
 49,
 22,
 25,
 41,
 33,
 74,
 2,
 42,
 61,
 37,
 57,
 15,
 22,
 18,
 27,
 58,
 53,
 39,
 41,
 47,
 51,
 7,
 46,
 54,
 66,
 20,
 46,
 39,
 23,
 12,
 29,
 20,
 21,
 53,
 20,
 48,
 21,
 54,
 0,
 46,
 42,
 33,
 4,
 75,
 29,
 30,
 70,
 13,
 22,
 20,
 39,
 20,
 62,
 77,
 68,
 36,
 56,
 66,
 44,
 34,
 57,
 45,
 35,
 44,
 44,
 33,
 31,
 29,
 40,
 33,
 64,
 8,
 80,
 46,
 52,
 17,
 37,
 30,
 36,
 41,
 32,
 36,
 46,
 30,
 2,
 21,
 76,
 9,
 55,
 55,
 65,
 14,
 1,
 6,
 ...]

Codigo do IBGE

In [11]:
municipios = pd.read_csv('https://raw.githubusercontent.com/andrejarenkow/Curso_SINAN_Udemy/main/dados/populacao%20ibge%206%20municipio%20br.csv')
municipios = municipios[['IBGE6', 'Municipio']]
municipios = municipios.set_index('IBGE6')

dicionario_municipios = municipios.to_dict()['Municipio']

data['ID_MUNICIP_nome'] = data['ID_MUNICIP'].map(dicionario_municipios)
data['ID_MN_RESI_nome'] = data['ID_MN_RESI'].map(dicionario_municipios)
data['ANT_MUNIC_nome'] = data['ANT_MUNIC_'].map(dicionario_municipios)

data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA,ID_MUNICIP_nome,ID_MN_RESI_nome,ANT_MUNIC_nome
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4,M,No se aplica,Preta,No se aplica,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,Rural,Ignorado,Tronco,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,Cura,NaT,2017-02-02,2017-02-09,Feira de Santana,Feira de Santana,Feira de Santana
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,36,F,Ignorado,Ignorado,Ignorado,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,Urbana,0 - 1h,P,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Ignorado,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaT,2017-01-02,2017-01-16,Juquitiba,Juquitiba,Juquitiba
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,25,F,No,Indgena,Analfabeto,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,Rural,12 - 24h,P,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,No realizado,Serpente,NaN,Botrpico,NaN,NaN,Grave,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-01,2017-01-25,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,62,F,No,Branca,Ensino mdio completo (antigo colegial ou 2 g...,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,Urbana,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-02-13,2017-02-17,Porto Amazonas,Palmeira,Porto Amazonas
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,3,F,No se aplica,Ignorado,No se aplica,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,Rural,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-02,2017-03-28,Recife,Jurema,Jurema
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,11,M,No se aplica,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,Rural,0 - 1h,P,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,Angical do Piau,Angical do Piau
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,35,F,No,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,Urbana,0 - 1h,Mo,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,So Pedro do Piau,So Pedro do Piau
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,55,M,No se aplica,Parda,1 a 4 srie incompleta do EF,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,Rural,1 - 3h,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alterado,Serpente,NaN,Botrpico,NaN,NaN,Leve,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29,Coluna,Belo Horizonte,Coluna
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,45,F,No,Branca,Ignorado,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,Urbana,12 - 24h,Cabea,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Loxoscelismo,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2018-02-10,2018-08-10,Araucria,Araucria,Araucria
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,19,F,Ignorado,Branca,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,Rural,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serpente,NaN,Laqutico,NaN,NaN,Moderado,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18,Vitria da Conquista,Anag,Anag

Ocupao

In [12]:
ocupacao = pd.read_csv('https://raw.githubusercontent.com/andrejarenkow/Curso_SINAN_Udemy/main/dados/CBO2002%20-%20Ocupacao.csv')
ocupacao = ocupacao.set_index('CODIGO')
dicionario_ocupacao = ocupacao.to_dict()['TITULO']
data['ID_OCUPA_N_nome'] = data['ID_OCUPA_N'].map(dicionario_ocupacao)
data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA,ID_MUNICIP_nome,ID_MN_RESI_nome,ANT_MUNIC_nome,ID_OCUPA_N_nome
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4,M,No se aplica,Preta,No se aplica,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,Rural,Ignorado,Tronco,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,Cura,NaT,2017-02-02,2017-02-09,Feira de Santana,Feira de Santana,Feira de Santana,NaN
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,36,F,Ignorado,Ignorado,Ignorado,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,Urbana,0 - 1h,P,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Ignorado,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaT,2017-01-02,2017-01-16,Juquitiba,Juquitiba,Juquitiba,NaN
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,25,F,No,Indgena,Analfabeto,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,Rural,12 - 24h,P,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,No realizado,Serpente,NaN,Botrpico,NaN,NaN,Grave,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-01,2017-01-25,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Produtor agrcola polivalente
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,62,F,No,Branca,Ensino mdio completo (antigo colegial ou 2 g...,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,Urbana,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-02-13,2017-02-17,Porto Amazonas,Palmeira,Porto Amazonas,Aposentado/Pensionista
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,3,F,No se aplica,Ignorado,No se aplica,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,Rural,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-02,2017-03-28,Recife,Jurema,Jurema,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,11,M,No se aplica,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,Rural,0 - 1h,P,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,Angical do Piau,Angical do Piau,Estudante
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,35,F,No,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,Urbana,0 - 1h,Mo,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,So Pedro do Piau,So Pedro do Piau,Dona de casa
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,55,M,No se aplica,Parda,1 a 4 srie incompleta do EF,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,Rural,1 - 3h,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alterado,Serpente,NaN,Botrpico,NaN,NaN,Leve,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29,Coluna,Belo Horizonte,Coluna,Motorista de carro de passeio
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,45,F,No,Branca,Ignorado,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,Urbana,12 - 24h,Cabea,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Loxoscelismo,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2018-02-10,2018-08-10,Araucria,Araucria,Araucria,NaN
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,19,F,Ignorado,Branca,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,Rural,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serpente,NaN,Laqutico,NaN,NaN,Moderado,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18,Vitria da Conquista,Anag,Anag,NaN

Unidade Federativa

In [13]:
tabela_uf = pd.read_csv('https://raw.githubusercontent.com/andrejarenkow/Curso_SINAN_Udemy/main/dados/cod_uf.csv')
tabela_uf = tabela_uf.set_index('Cdigo UF')
dicionario_uf = tabela_uf.to_dict()['UF']
data['SG_UF_nome'] = data['SG_UF'].map(dicionario_uf)
data['SG_UF_NOT_nome'] = data['SG_UF_NOT'].map(dicionario_uf)
data['ANT_UF_nome'] = data['ANT_UF'].map(dicionario_uf)
data

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_ZONA,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA,ID_MUNICIP_nome,ID_MN_RESI_nome,ANT_MUNIC_nome,ID_OCUPA_N_nome,SG_UF_nome,SG_UF_NOT_nome,ANT_UF_nome
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4,M,No se aplica,Preta,No se aplica,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,Rural,Ignorado,Tronco,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,Cura,NaT,2017-02-02,2017-02-09,Feira de Santana,Feira de Santana,Feira de Santana,NaN,BA,BA,BA
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,36,F,Ignorado,Ignorado,Ignorado,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,Urbana,0 - 1h,P,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Ignorado,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaT,2017-01-02,2017-01-16,Juquitiba,Juquitiba,Juquitiba,NaN,SP,SP,SP
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,25,F,No,Indgena,Analfabeto,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,Rural,12 - 24h,P,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,No realizado,Serpente,NaN,Botrpico,NaN,NaN,Grave,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-01,2017-01-25,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Produtor agrcola polivalente,AM,AM,AM
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,62,F,No,Branca,Ensino mdio completo (antigo colegial ou 2 g...,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,Urbana,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-02-13,2017-02-17,Porto Amazonas,Palmeira,Porto Amazonas,Aposentado/Pensionista,PR,PR,PR
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,3,F,No se aplica,Ignorado,No se aplica,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,Rural,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-02,2017-03-28,Recife,Jurema,Jurema,NaN,PE,PE,PE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,11,M,No se aplica,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,Rural,0 - 1h,P,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,Angical do Piau,Angical do Piau,Estudante,PI,PI,PI
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,35,F,No,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,Urbana,0 - 1h,Mo,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,So Pedro do Piau,So Pedro do Piau,Dona de casa,PI,PI,PI
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,55,M,No se aplica,Parda,1 a 4 srie incompleta do EF,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,Rural,1 - 3h,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alterado,Serpente,NaN,Botrpico,NaN,NaN,Leve,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29,Coluna,Belo Horizonte,Coluna,Motorista de carro de passeio,MG,MG,MG
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,45,F,No,Branca,Ignorado,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,Urbana,12 - 24h,Cabea,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Loxoscelismo,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2018-02-10,2018-08-10,Araucria,Araucria,Araucria,NaN,PR,PR,PR
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,19,F,Ignorado,Branca,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,Rural,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serpente,NaN,Laqutico,NaN,NaN,Moderado,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18,Vitria da Conquista,Anag,Anag,NaN,BA,BA,BA

Renomeando

In [14]:
dicionario_colunas= {'DT_NOTIFIC':'Data da notificao',
                     'SEM_NOT':'Semana da notificao',
                     'NU_ANO':'Ano da notificao',
                     'SG_UF_NOT':'UF de notificao',
                     'ID_MUNICIP':'Cdigo Municpio de notificao',
                     'ID_REGIONA':'Regional de Notificao',
                     'DT_SIN_PRI':'Data de incio dos sintomas',
                     'SEM_PRI':'Semana de incio dos sintomas',
                     'DT_NASC':'Data de Nascimento',
                     'NU_IDADE_N':'Idade',
                      'CS_SEXO':'Sexo',
                      'CS_GESTANT':"Gestante",
                      'CS_RACA':'Raa',
                      'CS_ESCOL_N':'Escolaridade',
                      'SG_UF':'UF de Residncia',
                      'ID_MN_RESI':'Cdigo Municpio de Residncia',
                      'ID_RG_RESI':'Regional de Residncia',
                      'ID_PAIS':'Pas de Residncia',
                      'DT_INVEST':'Data da investigao',
                      'ID_OCUPA_N':'Ocupao',
                      'ANT_DT_ACI':'Data do acidente',
                      'ANT_UF':'UF do acidente',
                      'ANT_MUNIC_':'Cdigo Municpio de ocorrncia do acidente',
                      'ANT_LOCALI':'Localidade da ocorrncia',
                      'ANT_ZONA':'Zona de ocorrncia',
                      'ANT_TEMPO_':'Tempo decorrido picada/atendimento',
                      'ANT_LOCA_1':'Local da picada',
                      'MCLI_LOCAL':'Manifestaes locais',
                      'CLI_DOR':'Manifestaes locais - Dor',
                      'CLI_EDEMA':'Manifestaes locais - Edema',
                      'CLI_EQUIMO':'Manifestaes locais - Esquimose',
                      'CLI_NECROS':'Manifestaes locais - Necrose',
                      'CLI_LOCAL_':'Manifestaes locais - Outras',
                      'CLI_LOCA_1':'Manifestaes locais - Outras - especificada',
                      'MCLI_SIST':'Manifestaes sistmicas',
                      'CLI_NEURO':'Manifestaes sistmicas - Neuroparalticas (ptose, palpebral, turvao visual',
                      'CLI_HEMORR':'Manifestaes sistmicas - Hemorrgicas (gengivorragia, outros sangramentos)',
                      'CLI_VAGAIS':'Manifestaes sistmicas - Vagais (vmitos/ diarreias)',
                      'CLI_MIOLIT':'Manifestaes sistmicas - Miolficas/hemolticas (mialgia, anemia, urina escura)',
                      'CLI_RENAL':'Manifestaes sistmicas - Renais (oligria/anria)',
                      'CLI_OUTR_2':'Manifestaes sistmicas - Outras',
                      'CLI_OUTR_3':'Manifestaes sistmicas - Outras especificada',
                      'CLI_TEMPO_':'Tempo de coagulao',
                      'TP_ACIDENT':'Tipo de acidente',
                      'ANI_TIPO_1':'Tipo de acidente - outros',
                      'ANI_SERPEN':'Serpente - tipo de acidente',
                      'ANI_ARANHA':'Aranha - tipo de acidente',
                      'ANI_LAGART':'Lagarta - tipo de acidente',
                      'TRA_CLASSI':'Classificao do caso',
                      'CON_SOROTE':'Soroterapia',
                      'NU_AMPOLAS':'Soroterapia - Nmero de ampolas de soro antibrotpico (SAB)',
                      'NU_AMPOL_1':'Soroterapia - Nmero de ampolas de soro antivrotlico (SAC)',
                      'NU_AMPOL_8':'Soroterapia - Nmero de ampolas de soro antiaracndico (SAAr)',
                      'NU_AMPOL_6':'Soroterapia - Nmero de ampolas de soro antibrotpico-laqutico (SABL)',
                      'NU_AMPOL_4':'Soroterapia - Nmero de ampolas de soro antielapdico (SAEL)',
                      'NU_AMPO_7':'Soroterapia - Nmero de ampolas de soro antiloxosclico (SALox)',
                      'NU_AMPO_5':'Soroterapia - Nmero de ampolas de soro antibrotpico-crotlico (SABC)',
                      'NU_AMPOL_9':'Soroterapia - Nmero de ampolas de soro antiescorpinico (SAEsc)',
                      'NU_AMPOL_3':'Soroterapia - Nmero de ampolas de soro antilonmico (SALon)',
                      'COM_LOC':'Complicaes locais',
                      'COM_SECUND':'Complicaes locais - Infeco secundria',
                      'COM_NECROS':'Complicaes locais - Necrose extensa',
                      'COM_COMPOR':'Complicaes locais - Sndrome comportamental',
                      'COM_DEFICT':'Complicaes locais - Dficit Funcional ',
                      'COM_APUTAC':'Complicaes locais - Amputao ',
                      'COM_SISTEM':'Complicaes sistmicas',
                      'COM_RENAL':'Complicaes sistmicas - Insuficincia renal ',
                      'COM_EDEMA':'Complicaes sistmicas - Insuficincia Respiratria/Edema Pulmonar Agudo ',
                      'COM_SEPTIC':'Complicaes sistmicas - Septicemia ',
                      'COM_CHOQUE':'Complicaes sistmicas - Choque ',
                      'DOENCA_TRA':'Acidente relacionado ao trabalho',
                      'EVOLUCAO':'Evoluo do caso',
                      'DT_OBITO':'Data do bito',
                      'DT_ENCERRA':'Data do encerramento',
                      'DT_DIGITA':'Data de digitao',
                      'ID_MUNICIP_nome':'Municpio de notificao',
                      'ID_MN_RESI_nome':'Municpio de Residncia',
                      'ANT_MUNIC__nome':'Municpio de ocorrncia do acidente'}

In [15]:
data_final = data.rename(columns=dicionario_colunas)
data_final

,Data da notificao,Semana da notificao,Ano da notificao,UF de notificao,Cdigo Municpio de notificao,Regional de Notificao,Data de incio dos sintomas,Semana de incio dos sintomas,Data de Nascimento,Idade,Sexo,Gestante,Raa,Escolaridade,UF de Residncia,Cdigo Municpio de Residncia,Regional de Residncia,Pas de Residncia,Data da investigao,Ocupao,Data do acidente,UF do acidente,Cdigo Municpio de ocorrncia do acidente,Localidade da ocorrncia,Zona de ocorrncia,Tempo decorrido picada/atendimento,Local da picada,Manifestaes locais,Manifestaes locais - Dor,Manifestaes locais - Edema,Manifestaes locais - Esquimose,Manifestaes locais - Necrose,Manifestaes locais - Outras,Manifestaes locais - Outras - especificada,Manifestaes sistmicas,"Manifestaes sistmicas - Neuroparalticas (ptose, palpebral, turvao visual","Manifestaes sistmicas - Hemorrgicas (gengivorragia, outros sangramentos)",Manifestaes sistmicas - Vagais (vmitos/ diarreias),"Manifestaes sistmicas - Miolficas/hemolticas (mialgia, anemia, urina escura)",Manifestaes sistmicas - Renais (oligria/anria),Manifestaes sistmicas - Outras,Manifestaes sistmicas - Outras especificada,Tempo de coagulao,Tipo de acidente,Tipo de acidente - outros,Serpente - tipo de acidente,Aranha - tipo de acidente,Lagarta - tipo de acidente,Classificao do caso,Soroterapia,Soroterapia - Nmero de ampolas de soro antibrotpico (SAB),Soroterapia - Nmero de ampolas de soro antivrotlico (SAC),Soroterapia - Nmero de ampolas de soro antiaracndico (SAAr),Soroterapia - Nmero de ampolas de soro antibrotpico-laqutico (SABL),Soroterapia - Nmero de ampolas de soro antielapdico (SAEL),Soroterapia - Nmero de ampolas de soro antiloxosclico (SALox),Soroterapia - Nmero de ampolas de soro antibrotpico-crotlico (SABC),Soroterapia - Nmero de ampolas de soro antiescorpinico (SAEsc),Soroterapia - Nmero de ampolas de soro antilonmico (SALon),Complicaes locais,Complicaes locais - Infeco secundria,Complicaes locais - Necrose extensa,Complicaes locais - Sndrome comportamental,Complicaes locais - Dficit Funcional,Complicaes locais - Amputao,Complicaes sistmicas,Complicaes sistmicas - Insuficincia renal,Complicaes sistmicas - Insuficincia Respiratria/Edema Pulmonar Agudo,Complicaes sistmicas - Septicemia,Complicaes sistmicas - Choque,Acidente relacionado ao trabalho,Evoluo do caso,Data do bito,Data do encerramento,Data de digitao,Municpio de notificao,Municpio de Residncia,ANT_MUNIC_nome,ID_OCUPA_N_nome,SG_UF_nome,SG_UF_NOT_nome,ANT_UF_nome
0,2017-01-01,201701,2017,29,291080,1381.0,2017-01-01,201701,2012-07-28,4,M,No se aplica,Preta,No se aplica,29.0,291080.0,1381.0,1.0,2017-01-01,NaN,2017-01-01,29.0,291080.0,NaN,Rural,Ignorado,Tronco,Sim,Ignorado,Sim,Ignorado,Ignorado,Ignorado,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,Ignorado,Cura,NaT,2017-02-02,2017-02-09,Feira de Santana,Feira de Santana,Feira de Santana,NaN,BA,BA,BA
1,2017-01-01,201701,2017,35,352620,1335.0,2017-01-01,201701,1980-09-30,36,F,Ignorado,Ignorado,Ignorado,35.0,352620.0,1335.0,1.0,2017-01-01,NaN,2017-01-01,35.0,352620.0,NaN,Urbana,0 - 1h,P,No,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Ignorado,NaN,Ignorado,Ignorado,0,0,0,0,0,0,0,0,0,Ignorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaT,2017-01-02,2017-01-16,Juquitiba,Juquitiba,Juquitiba,NaN,SP,SP,SP
2,2017-01-01,201701,2017,13,130360,5584.0,2016-05-15,201620,1990-06-25,25,F,No,Indgena,Analfabeto,13.0,130360.0,5584.0,1.0,2017-01-01,612005.0,2016-01-15,13.0,130360.0,ALDEIA BALAIO,Rural,12 - 24h,P,Sim,Sim,Sim,Sim,Sim,No,NaN,Sim,No,Sim,Sim,No,No,No,NaN,No realizado,Serpente,NaN,Botrpico,NaN,NaN,Grave,Sim,8,0,0,0,0,0,0,0,0,Sim,Sim,Sim,No,1.0,1.0,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-01,2017-01-25,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Santa Isabel do Rio Negro,Produtor agrcola polivalente,AM,AM,AM
3,2017-01-01,201701,2017,41,412010,1357.0,2017-01-01,201701,1954-07-18,62,F,No,Branca,Ensino mdio completo (antigo colegial ou 2 g...,41.0,411770.0,1357.0,1.0,2017-01-01,999993.0,2017-01-01,41.0,412010.0,RESIDENCIA,Urbana,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-02-13,2017-02-17,Porto Amazonas,Palmeira,Porto Amazonas,Aposentado/Pensionista,PR,PR,PR
4,2017-01-01,201701,2017,26,261160,1497.0,2017-01-01,201701,2013-08-12,3,F,No se aplica,Ignorado,No se aplica,26.0,260840.0,1497.0,1.0,2017-01-01,NaN,2017-01-01,26.0,260840.0,NaN,Rural,0 - 1h,P,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-01-02,2017-03-28,Recife,Jurema,Jurema,NaN,PE,PE,PE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222854,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,2006-01-09,11,M,No se aplica,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,220060.0,NaN,1.0,2017-12-31,999991.0,2017-12-31,22.0,220060.0,POVOADO BELA VISTA,Rural,0 - 1h,P,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,Angical do Piau,Angical do Piau,Estudante,PI,PI,PI
222855,2017-12-31,201801,2017,22,221050,NaN,2017-12-31,201801,1982-08-14,35,F,No,Parda,5 8 srie incompleta do EF (antigo ginsio...,22.0,221050.0,NaN,1.0,2017-12-31,999992.0,2017-12-31,22.0,221050.0,RESIDENCIA,Urbana,0 - 1h,Mo,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Escorpio,NaN,NaN,NaN,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2017-12-31,2018-01-17,So Pedro do Piau,So Pedro do Piau,So Pedro do Piau,Dona de casa,PI,PI,PI
222856,2017-12-31,201801,2017,31,311680,1450.0,2017-12-31,201801,1962-09-14,55,M,No se aplica,Parda,1 a 4 srie incompleta do EF,31.0,310620.0,1450.0,1.0,2017-12-31,782305.0,2017-12-31,31.0,311680.0,QUINTAL DA CASA DE FAMILIARES,Rural,1 - 3h,10.0,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alterado,Serpente,NaN,Botrpico,NaN,NaN,Leve,Sim,3,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,NaN,NaT,2018-01-29,2018-01-29,Coluna,Belo Horizonte,Coluna,Motorista de carro de passeio,MG,MG,MG
222857,2017-12-31,201801,2017,41,410180,1356.0,2017-12-30,201752,1972-11-07,45,F,No,Branca,Ignorado,41.0,410180.0,1356.0,1.0,2017-12-31,NaN,2017-12-30,41.0,410180.0,RESIDENCIA,Urbana,12 - 24h,Cabea,Sim,Sim,Sim,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No realizado,Aranha,NaN,NaN,Loxoscelismo,NaN,Leve,No,0,0,0,0,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,No,Cura,NaT,2018-02-10,2018-08-10,Araucria,Araucria,Araucria,NaN,PR,PR,PR
222858,2017-12-31,201801,2017,29,293330,1398.0,2017-12-31,201801,1998-05-21,19,F,Ignorado,Branca,NaN,29.0,290120.0,1398.0,1.0,2017-12-31,NaN,2017-12-31,29.0,290120.0,NaN,Rural,NaN,10.0,Sim,Sim,No,No,No,No,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serpente,NaN,Laqutico,NaN,NaN,Moderado,Sim,0,0,0,8,0,0,0,0,0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ignorado,NaN,NaT,NaT,2019-10-18,Vitria da Conquista,Anag,Anag,NaN,BA,BA,BA

Exportando para CSV

In [16]:
data_final.to_csv('dados_peconhetos.csv', index=False, sep=';')